<%@ Master Language="C#" MasterPageFile="~/HeaderFooter.Master" AutoEventWireup="True" CodeBehind="Manual_Testing_Links.master.cs" Inherits="ExamCrazy.Masters.Manual_Testing_Links" %>
<%@ MasterType VirtualPath="~/HeaderFooter.master" %>
<%@ Register TagPrefix="ucl" TagName="login" Src="~/Control/Login.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="AddToBreadCrum" runat="server">
    <asp:ContentPlaceHolder ID="AddToBreadCrum" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="LeftPanelHolder" runat="server">
   <h3>Categories</h3>
   <div class="LeftPanelNavigation">
        <div id="masterdiv">
        <ul>
             <div class="menutitle" onclick="SwitchMenu('sub1')">
                <li class=""><span>Software Testing</span><span class="iconArrow"></span></li>
                <span class="submenu" id="sub1">
                    <ul>
                          <a id="A1" href="~/interviews-jobs/information-technology-software-it/software-quality-control-assurance/manual-testing/software-testing-dictionary.aspx" runat="server" title="Software Testing Dictionary"><li class="active"><span class="icon"></span><span>Software Testing Dictionary</span></li></a>
                          <a id="A2" href="~/interviews-jobs/information-technology-software-it/software-quality-control-assurance/manual-testing/test-plan-template.aspx" runat="server" title="Sample Test Plan"><li class="active"><span class="icon"></span><span>Sample Test Plan</span></li></a>
                          <a id="A3" href="~/interviews-jobs/information-technology-software-it/software-quality-control-assurance/manual-testing/test-case-template.aspx" runat="server" title="Sample Test Case Structure"><li class="active"><span class="icon"></span><span>Sample Test Case Structure</span></li></a>
                          <a id="A4" href="~/interviews-jobs/information-technology-software-it/software-quality-control-assurance/manual-testing/testing-life-cycle.aspx" runat="server" title="Testing Life Cycle"><li class="active"><span class="icon"></span><span>Testing Life Cycle</span></li></a>
                          <a id="A5" href="~/interviews-jobs/information-technology-software-it/software-quality-control-assurance/manual-testing/bug-life-cycle.aspx" runat="server" title="Bug Life Cycle"><li class="active"><span class="icon"></span><span>Bug Life Cycle</span></li></a>
                          <a id="A6" href="~/interviews-jobs/information-technology-software-it/software-quality-control-assurance/manual-testing/white-box-testing.aspx" runat="server" title="White Box Testing"><li class="active"><span class="icon"></span><span>White Box Testing</span></li></a>
                          <a id="A7" href="~/interviews-jobs/information-technology-software-it/software-quality-control-assurance/manual-testing/v-model.aspx" runat="server" title="V Model"><li class="active"><span class="icon"></span><span>V Model</span></li></a>
                          <a id="A8" href="~/interviews-jobs/information-technology-software-it/software-quality-control-assurance/manual-testing/risk-issue-defect.aspx" runat="server" title="Risk Vs Issue Vs Defect"><li class="active"><span class="icon"></span><span>Risk Vs Issue Vs Defect</span></li></a>
                   </ul>
               </span>
            </div>
        </ul>
      </div>
  </div>
   <div class="leftSideAdd unit"><a href="#" title="add"><img id="Img1" src="~/img/left-side-add.gif" alt="" title="" runat="server" /></a></div>
   <div class="leftSideAdd unit"><a href="#" title="add"><img id="Img2" src="~/img/addhre.gif" alt="" title="" runat="server" /></a></div>
   <div class="leftSideAdd unit"><a href="#" title="add"><img id="Img3" src="~/img/addhre.gif" alt="" title="" runat="server" /></a></div>
   <div class="leftSideAdd unit"><a href="#" title="add"><img id="Img4" src="~/img/addhre.gif" alt="" title="" runat="server" /></a></div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" runat="server">
    <div class="size3of4 unit">
        <div class="midddlePart"><asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder></div>
    </div>
    <div class=" size1of4 unit">
        <div class="rightPanel unit">
            <ucl:login ID="login" runat="server" />
            <div class="rightAdd unit"><img id="Img5" src="~/img/add2.gif" alt="" title="" runat="server" /></div>
            <div class="rightAdd unit"><img id="Img6" src="~/img/add2.gif" alt="" title="" runat="server" /></div>
            <div class="rightAdd unit"><img id="Img7" src="~/img/biyani.gif" title="" alt="" runat="server" /></div>
            <div class="rightAdd unit"><img id="Img8" src="~/img/googleadd.gif" title="" alt="" runat="server" /></div>
        </div>
    </div>
    <div class="addvertiseBig unit">
        <a href="#" title="add"><img id="Img9" src="~/img/add7.gif" alt="Adds" title="adds" runat="server" /></a>
    </div>
</asp:Content>
